<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .description .highlightEdad{
            background-color: blueviolet;
        }
        .description .highlightGenero{
            background-color: rgb(43, 226, 104);
        }
    </style>
</head>
<body>
    <h1>
        Descripción de la vacante:
    </h1>
        <p id="description" class="description" contenteditable="True">
            {% for palabra in offer.description.split %}
                {% if palabra in edad %}
                    <span class="highlightEdad">{{ palabra }}</span>  
                {% elif palabra in genero %} 
                    <span class="highlightGenero">{{ palabra }}</span>
                {% else %}    
                    {{palabra}}
                {% endif %}    
            {% endfor %}     
        </p>

        <p>
            {{ offer.title }}
        </p>

        <p>
            {{ offer.salary }}
        </p>
        
</body>
</html>