{% block content %}
{% include 'navbar_empresa.html' %}
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for offer in offers %}
            {% if offer.state == True %}
                <div class="max-w-sm mx-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-5">
                        <a href="{% url 'revision' %}">
                            <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ offer.title }}</h1>
                            <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400 truncate-description" style="max-height: 145px; overflow: hidden;">
                                {{ offer.description }}
                            </p>
                            <div class="description-full hidden">
                                {{ offer.description }}
                            </div>
                        </a>
                        <button type="button" class="toggle-description">
                            <span class="toggle-icon text-gray-500"><i class="fa-solid fa-ellipsis"></i></span>
                            <span class="sr-only">Toggle Description</span>
                        </button>  
                    </div>
                </div> 
            {% endif %}    
        {% endfor %}
{% endblock content %}