body{
    font-family: Mulish,sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 700px;
    margin-top: 60px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    color: #23175C;
    font-size: 35px;
    font-weight: 1000px;
    margin-bottom: 30px;
}

label{
    color: #23175C;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1;
    color: #23175C;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cba6;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btn{
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #00C080;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover{
    background-color: #008357;
    color: #ffffff;
}
