{% include 'navbar_empleo.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://rawgit.com/LunarLogic/starability/master/starability-minified/starability-basic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .rating-list li {
          float: right;
          color: whitesmoke;
          padding: 10px 5px;
        }

        .rating-list li:hover,
        .rating-list li:hover ~ li {
          color: orange;
        }

        .rating-list {
          display: inline-block;
          list-style: none;
        }
        .checked {
            color: orange;
        }
    </style>
</head>
<body>

    <div class="container" style="padding: 2em">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
            <h5 class="card-title">{{ offer.title }}</h5>
            <p class="card-text">{{ offer.description }}</p>
            <h5 class="card-title">Avg rating:
                <span class="fa fa-star {% if offer.average_rating > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if offer.average_rating > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if offer.average_rating > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if offer.average_rating > 3 %} checked {% endif %}" ></span>
                <span class="fa fa-star {% if offer.average_rating > 4 %} checked {% endif %}"></span>
            </h5>
            <ul class="btn btn-light list-inline rating-list">
                <li onclick="rating(5,{{offer.id}})">
                    <i class="fa fa-star {% if post.user_rating > 4 %} checked {% endif %}" title="Rate 5"></i></li>
                <li onclick="rating(4,{{offer.id}})">
                    <i class="fa fa-star {% if offer.user_rating > 3 %} checked {% endif %}" title="Rate 4"></i></li>
                <li onclick="rating(3, {{offer.id}})">
                    <i class="fa fa-star {% if offer.user_rating > 2 %} checked {% endif %}" title="Rate 3"></i></li>
                <li onclick="rating(2, {{offer.id}})">
                    <i class="fa fa-star {% if offer.user_rating > 1 %} checked {% endif %}" title="Rate 2"></i></li>
                <li onclick="rating(1, {{offer.id}})">
                    <i class="fa fa-star {% if offer.user_rating > 0 %} checked {% endif %}" title="Rate 1"></i></li>
            </ul>
            </div>
        </div>
    </div>
        <script>
            const rating = (rating, offer_id) => {
                fetch(`/rating/${offer_id}/${rating}/`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(rest => {
                    window.location.reload();
                    // you may want to update the rating here
                    // to simplify stuff, I just reload the page
                })
            }
        </script>
</body>
</html>